/* products details */

.product-details-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    margin: auto;
}

.product-info-container {
    display: flex;
    width: 100%;
    height: 400px;
    border: 1px solid rgb(247, 247, 247);
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08) !important;
}

.product-details-container {
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 3rem;
    border: 1px solid rgb(247, 247, 247);
    background-color: #f9f9f9;
    border-radius: 5px;
}

.product-info-content {
    display: flex;
    flex-direction: row;
}

.info-desc {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.pricing-info {
    width: 98%;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

.product-info-img img {
    padding-left: 20px;
    padding-right: 20px;
    width: 360px !important;
    height: 320px !important;
}

.product-info-img {
    display: flex;
    width: 360px !important;
    height: 320px !important;
}

.p-image-preview-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    margin-left: 20px !important;
}

.product-supplier-card {
    display: flex;
    width: 80%;
    margin-left: 20px;
    height: fit-content;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 252, 249) 0%, rgba(241, 241, 241, 1) 100%);
}

.product-supplier-name:hover {
    cursor: pointer;
    color: rgb(223, 154, 63);
}

/* product details */

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: #ec750e !important;
    color: rgb(217, 116, 8) !important;
}

.product-details-header {
    display: flex;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgb(212, 212, 212);
}

.product-details-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.product-details-header li {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5;
}

.product-details-header li:hover {
    color: #50555b;
    opacity: 1;
}

.product-information-container {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: nowrap;
    flex-direction: column;
}

.product-table-container {
    width: 532px;
    margin-bottom: 24px;
    display: inline-block;
}

.product-table {
    border: 1px solid #e8e8e8;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.table-info {
    padding: 8px 16px;
    width: 192px;
    color: #666;
    font-weight: 400;
    font-size: 14px;
    text-align: start;
    line-height: 1.5;
    border-right: 1px solid #e8e8e8;
}

.table-item {
    width: 392px;
    padding: 8px 16px;
    border-right: none;
    word-break: break-word;
    color: #666;
    font-weight: 700;
    display: table-cell;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
}

.spec-details-container {
    display: flex;
}

.shipping-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* send inquiry */

.send-inquiry-container {
    border-radius: 3px;
}

.inquiry-content-container {
    display: flex;
    width: 1200px;
    border-radius: 5px !important;
    margin: auto;
}

.inquiry-content-box {
    width: 72%;
    padding: 20px;
}

.inquiry-product-info {
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(198, 198, 198);
}

.product-inquiry-img img {
    width: 100px;
    height: 100px;
}

/* add to cart btn */

.add-to-cart-btn {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    color: #ec750e;
}

.favourite-btn {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.custom-cart-icon {
    margin-right: 8px !important;
    font-size: 24px !important;
}

.favourite-btn {
    margin-top: 5px;
}

.custom-fav-icon {
    margin-right: 8px !important;
    font-size: 24px !important;
}

.custom-fav-icon:hover {
    color: #ec750e;
    cursor: pointer;
}

.favourite-btn i:hover:before {
    content: "\e9e1";
    font-family: "PrimeIcons";
}
.favourite-btn i:before {
    content: "\e984";
    font-family: "PrimeIcons";
}
